* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark: #1f1f1f;
  --text-light: #fff;
  --primary-color: #007bff;
  --primary-hover: #0056b3;
  --container-bg: #242424cc;
  --container-shadow: #0000001a;
  --header-bg: #141414;
  --button-bg: #292929;
  --button-border: #666666;
  --button-hover-bg: #3d3d3d;
  --button-hover-border: #757575;
  --footer-bg: #666666;
  --footer-hover: #479ef5;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark);
  color: var(--text-light);
}

h1 {
  margin: 2rem 0 1rem;
}
a {
  text-decoration: none;
}
.fa-key {
  color: var(--primary-color);
}

.container {
  background-color: var(--container-bg);
  padding: 20px;
  margin-bottom: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--container-shadow);
  width: 95%;
  display: flex;
  justify-content: space-between;

  .input {
    width: 30%;

    .input-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input {
        background: transparent;
        color: var(--text-light);
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    button {
      background: var(--primary-color);
      color: var(--text-light);
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      width: 90%;
      transition: 0.2s ease;

      &:hover {
        background: var(--primary-hover);
      }
    }
  }

  .output {
    width: 65%;

    input {
      background: transparent;
      color: var(--text-light);
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 1.5rem;
    }

    .password-list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .password-item {
        max-width: 560px;
        min-width: 320px;
        background-color: var(--container-bg);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.28);
        border-radius: 8px;

        .header {
          background-color: var(--header-bg);
          height: 60px;
          display: flex;
          align-items: center;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          .icon-user {
            background-color: #333;
            margin-inline-start: 12px;
            width: 36px;
            height: 36px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .email {
            margin-inline-start: 12px;
          }

          .icon-header {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            width: 30px;
            margin-inline-start: auto;
            margin-inline-end: 12px;
            padding: 3px;
            color: #d6d6d6;
            background-color: transparent;
            border-color: transparent;
            border-radius: 4px;
            transition: 0.2s ease;
            &:hover {
              color: var(--primary-color);
              background-color: #383838;
              cursor: pointer;
            }
            .icon-copy {
              width: 30px;
              align-items: center;
              display: inline-flex;
              justify-content: center;
              font-size: 20px;
              height: 20px;
              width: 20px;
            }
          }
        }

        .content {
          padding: 16px 12px;

          .item {
            color: #999999;
            line-height: 16px;
            font-size: 12px;
          }
          .site {
            display: flex;
            align-items: center;

            span {
              font-size: 14px;
            }
            .icon {
              width: 30px;
              align-items: center;
              display: inline-flex;
              justify-content: center;
              margin-inline-start: auto;
              padding: 3px;
              color: #d6d6d6;
              background-color: transparent;
              border-color: transparent;
              border-radius: 4px;
              transition: 0.2s ease;
              &:hover {
                color: var(--primary-color);
                background-color: #383838;
                cursor: pointer;
              }
              .icon-copy {
                width: 30px;
                align-items: center;
                display: inline-flex;
                justify-content: center;
                font-size: 20px;
                height: 20px;
                width: 20px;
              }
            }
          }
          .btn-t {
            display: flex;
            gap: 10px;
            margin-top: 1rem;

            .btn {
              background-color: var(--button-bg);
              color: var(--text-light);
              border: 1px solid var(--button-border);
              padding: 5px 12px;
              width: 96px;
              border-radius: 4px;
              font-size: 14px;
              font-weight: 600;
              transition: 0.2s ease;
            }

            .btn:hover {
              background-color: var(--button-hover-bg);
              border-color: var(--button-hover-border);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.popup-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-bg);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.28);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
}

.popup-message.show {
  opacity: 1;
  top: 40px;
}

.popup-icon {
  display: flex;
  color: var(--text-light);
  font-size: 18px;
  align-items: center;
  gap: 15px;

  .fa-check {
    font-size: 10px;
    color: var(--text-light);
    background-color: #28a745;
    border-radius: 50%;
    padding: 3px 4px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  text-align: center;
  width: 100%;
  height: 50px;
  background: var(--header-bg);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: fixed;
  bottom: 0;
  p {
    color: var(--text-light);
    font-size: 1.2rem;
    a {
      text-align: center;
    }
  }

  .icon-url {
    align-items: center;
    display: inline-flex;
    padding: 3px;
    color: var(--text-light);
    border-radius: 4px;
    transition: 0.2s ease;

    &:hover {
      color: var(--primary-color);
      cursor: pointer;
    }
  }

  .icon-url .icon-copy {
    font-weight: 700;
    margin-left: 2px;
  }

  .social {
    display: flex;
    gap: 1rem;

    i {
      font-size: 1.5rem;
      color: var(--text-light);
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .input,
  .output {
    width: 100% !important;
  }
  #addPassword {
    width: 100%;
  }
  .password-list {
    justify-content: center;
  }
  footer {
    justify-content: space-around;
    padding: 0;
  }
}
